server:
  port: 8085
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/demo_sys?serverTimezone=UTC
    username: root
    password: 239754
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    filters: stat
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
  thymeleaf:
    cache: false
    prefix: classpath:templates
    suffix: .html
    mode: HTML

mybatis:
  mapper-locations: classpath:mapping/*.xml
  type-aliases-package: com.example.entity
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
#分页插件
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql


