<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo3handler.mapper.UserMapper">
    <select id="selectUserByName" parameterType="String" resultType="com.example.demo3handler.entity.User">
        select * from user  where username = #{username}
    </select>

    <select id="selectRoleByUserId" parameterType="int" resultType="com.example.demo3handler.entity.Role">
        select * from role where id in (select roleId from user_role  where userId = #{userId})
    </select>

</mapper>